.image-gallary{
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    /* width: 180px; */
}
.image-gallary:hover{
    border: 1px solid #777;
}

.image-gallary img{
    width: 100%;
    height: auto;
    transition: 0.5s all ease-in-out;
}
div.desc {
    padding: 15px;
    text-align: center;
  }