.client-h1 {
    font-size: 70px;
    Line-height: 29px;
    color: #595959;
    font-family: 'Open Sans';
    margin-bottom: 25px;
}

.client-txt {
    width: 392px;
    height: 232px;
    padding-right: 14px;
    font-family: 'Open Sans';
    Font-size: 21px;
    Line-height: 29px;
    color: #595959;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  