.banner_h1 {
    font-size: 200px;
    font-weight: 400;
    color: #E6E6E6;
}

.banner_txt {
    font-family: 'Open Sans';
    margin-left: 40%;
    color: #595959;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    padding-right: 3%;
    font-size: 25px;

}

.banner_h6 {
    color: #c8c8c8;
}

.banner_h5 {
    font-family: 'Open Sans';
    color: #595959;
    font-weight: bold;
  
}

.banner_p {
    color: #595959;
    font-family: 'Open Sans';
}

.banner_left {
    margin-top: 15%;
}
.banner_left_head{
    font-size: 100px;
}