.team_back {
  background-color: #595959;
  padding-top: 50px;
  margin-top: 20px;
}
.team_back .style {
  border-top: 1px solid #8c8b8b;
}
.team_back .img {
  /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* filter: url(desaturate.svg#greyscale); */
  filter: #595959;
  -webkit-filter: grayscale(1);

  width: 100%;
  height: 300px;
  object-fit: cover;
}

.team_back .team_title {
  display: flex;
  flex-direction: row;
}
.team_back .team_social {
  text-decoration: underline;
}
.team_back h2{
    text-align: right;
}
.team_back h6:hover{
  cursor: pointer;
}