.team-back {
  background-color: #595959;
}
.team-back .style {
  border-top: 1px solid #8c8b8b;
}
.team-back .img {
  /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* filter: url(desaturate.svg#greyscale); */
  filter: #595959;
  -webkit-filter: grayscale(1);
}

.team-back .team-title {
  display: flex;
  flex-direction: row;
}
.team-back .team-social {
  text-decoration: underline;
}
.team-back h3{
    text-align: right;
}