/* body{
    background-color:#E5E5E5;
} */
.banner-h1 {
    font-size: 200px;
    font-weight: 400;
    color: #E6E6E6;
}

.banner-txt {
    font-family: 'Open Sans';
    margin-left: 40%;
    color: #595959;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    padding-right: 3%;
    font-size: 25px;

}

.banner-h6 {
    color: #c8c8c8;
}

.banner-h5 {
    font-family: 'Open Sans';
    color: #595959;
    font-weight: bold;
  
}

.banner-p {
    color: #595959;
    font-family: 'Open Sans';
}

.banner-left {
    margin-top: 15%;
}
.banner-left-head{
    font-size: 100px;
}